*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    width: 96%;
    margin: 20px auto;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    margin: 10px;
}

.lesson{
    width: 48%;
    float: left;
    background: #ffffff;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    position: relative;
    min-height: 230px;
}

.icon{
    width: 22%;
    height: 15%;
    float: left;
    line-height: 150px;
}

button{
    background: #007bff;
    border-color: #007bff;
    border-radius: 7px;
    padding: 6px 6px;
    color: #fff;
    float: right;
    cursor: pointer;
}

.knop{
    position: relative; 
    bottom:-5px; 
    width: 90%; 
    right: 5%;
}

body{
    background-color: #f8f9fa;
}

.modal { background: rgba(0, 0, 0, 0.5) !important; } .modal-backdrop { display: none !important; }

.dropdown-menu-right {
    right: 0;
    left: auto;
}

a{
    text-decoration: none;
}