
.card-deck{
    width: 75rem; min-height: 20rem; display: flex; justify-content: center;
}

.modal { background: rgba(0, 0, 0, 0.5) !important; } .modal-backdrop { display: none !important; }

body{
    background-color: #f8f9fa;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: stretch; /* Zorgt ervoor dat alle kaarten dezelfde hoogte hebben */
    flex-wrap: wrap;
    gap: 200px;
    margin-top: 50px;
  }
  .card {
    max-width: 400px;
    border-radius: 8px;}

.jumbotron{
    background-color: rgba(0, 123, 255, 0.4);
    margin: 25px;
}
*{
    font-weight: 500;
}

#footer{
    background-color: rgba(0, 123, 255, 0.4) !important;
}

#inloggen:hover {
    animation: shake 2s ease infinite;
  }
  @keyframes shake {
      0%, 100% {transform: translateX(0);}
      10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
      20%, 40%, 60%, 80% {transform: translateX(10px);}
  }