

header {
    padding: 1rem 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.navbar-logo {
    font-size: 2rem;
    margin-right: auto;
}

.navbar-items ul{
    list-style: none;
    display: flex;
    margin: 0;  
    padding: 0;
}

.navbar {
    margin-left: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}