html, body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    margin: 0;
    position: relative;
    background-color: #f8f9fa;
}

#body-text{
    padding: 3%;
}

.wrapper {
    min-height: 75%; 
  }x

.footer,
.push {
    height: 50px;
}

.footer button{
    height: 50px;
    right: 500px;
}

footer {
    position: fixed;
    bottom: 0;

    width: 100%;
    background-color: #087cfc;
    color: white;
    justify-content: space-around;
    display: flex;
    line-height: 30px;
}

#startbutton{
  visibility: hidden;
}

.body-text{
    padding: 3%;
}

.modal { background: rgba(0, 0, 0, 0.5) !important; } .modal-backdrop { display: none !important; }

/* Styles scoped to the multiple-choice answers */
.question {
    margin: 20px 0;
    font-family: Arial, sans-serif;
    width: 45%;
}

.question h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
}

.question .answer {
    width: 200%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #f9f9f9;
}

.question .answer:hover {
    border-color: #007bff;
    cursor: default;
}

.question .answer input {
    margin-right: 10px;
    cursor: pointer;
}

.question .answer label {
    flex-grow: 1;
    font-size: 1em;
    color: #444;
}

#submit-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200%;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.question button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

#feedback {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    width: 200%;
}

.quiz-form {
    position: relative;
    width: 600px;
}

.search-input {
    width: 200%;
    height: 50px;
    border: none;
    padding: 0 60px 0 20px;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    outline: none;
}

.search-input::placeholder {
    color: #9aa0a6;
}