html, body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    margin: 0;
    position: relative;
}

#body-text{
    padding: 3%;
}

.wrapper {
    min-height: 75%; 
  }x

.footer,
.push {
    height: 50px;
}

.footer button{
    height: 50px;
    right: 500px;
}

footer {
    position: fixed;
    bottom: 0;

    width: 100%;
    background-color: #087cfc;
    color: white;
    justify-content: space-around;
    display: flex;
    line-height: 30px;
}

#startbutton{
  visibility: hidden;
}

body.modal-open div.modal-backdrop { 
    z-index: 0; 
}

.body-text{
    padding: 3%;
}

.modal { background: rgba(0, 0, 0, 0.5) !important; } .modal-backdrop { display: none !important; }