html, body {
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
    margin: 0;
}

  .wrapper {
    min-height: 75%;
  
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
  }
  .footer,
  .push {
    height: 50px;
  }

  footer {
    background: #42A5F5;
    color: white;
    line-height: 50px;
    padding: 0 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /* Can be changed in the live sample */
  }

  .footer button{
    height: 50px;
  }